* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f1f5f9;
}
nav {
  height: 70px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #0f172a;
}

#menu {
  display: none;
}

.nav-links {
  margin-right: 5vw;
  display: flex;
  gap: 20px;
}

.logo {
  margin-left: 5vw;
  color: #f8fafc;
}

.logo h1 {
  font-size: 24px;
}

.nav-links a {
  color: #f8fafc;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.home {
  background-color: #f1f5f9;
  color: #0f172a;
}
.home img {
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.home img:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.home h3 {
  margin-left: 10px;
  color: black;
}
section {
  padding: 80px 20px;
  min-height: 100vh;
}

.me {
  margin-top: 2vw;
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.about {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.about-left {
  width: 50%;
  height: 100%;
}
.about-left h1,
h3,
p {
  margin-left: 5vw;
}
.about-left h3 {
  margin-top: 2vw;
}
.about-left p {
  margin-top: 2vw;
  margin-right: 4vw;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.about-right {
  width: 50%;
  height: 100%;
}
.about-right img {
  margin-left: 125px;
  object-fit: cover;
  width: 70%;
  height: 100%;
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-right img:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
}

.home img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.home h3 {
  font-size: 24px;
  color: #666;
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.socials a {
  color: black;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s;
}

.resume {
  height: 3vw;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 1vw;
  width: 9vw;
  padding: 9px 10px;
    box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.resume button {
  width: 7vw;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background: transparent;
}
.resume:hover{
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.socials a:hover {
  transform: scale(1.2);
}

.projects {
  background-color: #557f92;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.bank {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bank:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.bill button {
  margin-top: 65px;
}
.pro button {
  margin-top: 89px;
}
.calu button {
  margin-top: 26px;
}
.projects i {
  font-size: 6vw;
  margin-left: 6vw;
  margin-top: 2vw;
}
.projects p {
  margin-left: 0px;
  padding-left: 12px;
  padding: 10px;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial;
}
.projects h3 {
  padding-left: 12px;
  margin-left: 0px;
}
.projects button {
  margin-left: 9px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: #333;
  border: 1px solid #090909;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects button:hover {
  background-color: #4c4b61;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.bill {
  width: 20%;
  height: 655px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bill:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.pro {
  width: 20%;
  height: 655px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pro:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.calu {
  width: 20%;
  height: 655px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 20px rgba(2, 2, 2, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.calu:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.contact {
  background: #f9f9f9;
}
.skills {
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
}

.skill-html {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-html:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-html img {
  padding: 12px;
  height: 200px;
  width: 100%;
}
.skill-html p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding: 12px;
  margin-left: 0px;
}
.skill-html button {
  margin-top: 21px;
}
.skill-sql button {
  margin-top: 21px;
}

.skill-css {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-css:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-css p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  padding: 12px;
  margin-left: 0px;
}
.skill-css img {
  padding: 12px;
  height: 200px;
  width: 100%;
}
.skill-react {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-react:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-react img {
  height: 200px;
  padding: 12px;
  width: 100%;
}
.skill-react p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  padding: 12px;
  margin-left: 0px;
}
.skill-react button {
  margin-top: 43px;
}
.skill-java {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-java:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-java img {
  padding: 12px;
  height: 200px;
  width: 100%;
}
.skill-java p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  padding: 12px;
  margin-left: 0px;
}

.skill-python {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-python:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-python img {
  height: 200px;
  width: 100%;
  padding: 12px;
  object-fit: cover;
}
.skill-python p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  padding: 12px;
  margin-left: 0px;
}
.skill-sql {
  height: 100%;
  width: 16%;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-sql:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
.skill-sql img {
  padding: 12px;
  height: 200px;
  width: 100%;
}
.skill-sql p {
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding: 12px;
  margin-left: 0px;
}
.skills button {
  margin-left: 39px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: #333;
  border: 2px solid #4f46e5;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.skills button:hover {
  background-color: #4f46e5;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.projects h2,
.contact h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.projects .project-box {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-box .project {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form button {
  padding: 12px;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #222;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #ccc;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: rgb(255, 255, 255);
  }
  #menu {
    display: block;
    color: #ffffff;
  }
  .about {
    flex-direction: column;
  }

  .about-left,
  .about-right {
    width: 100%;
    height: 60vh;
  }
  .about {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about img {
    margin-top: 33vw;
    margin-left: 18px;
    width: 90%;
    height: 80%;
    border-radius: 20px;
  }
  .skills {
    flex-direction: column;
  }
  .skill-html {
    width: 100%;
    border-radius: 20px;
  }
  .skill-css {
    width: 100%;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .skill-react {
    width: 100%;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .skill-java {
    width: 100%;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .skill-python {
    width: 100%;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .skill-sql {
    width: 100%;
    border-radius: 20px;
    margin-top: 3vw;
  }
  .skills button {
    border-radius: 20px;
    margin-left: 30%;
  }
  .projects {
    flex-direction: column;
  }
  .bank {
    width: 100%;
  }
  .bank button {
    background-color: hsl(198, 54%, 76%);
  }
  .bill {
    width: 100%;
    height: 520px;
    margin-top: 5vw;
  }
  .bill button {
    margin-top: 0px;
    background-color: hsl(198, 54%, 76%);
  }
  .pro {
    width: 100%;
    height: 520px;
    margin-top: 5vw;
  }
  .pro button {
    margin-top: 0px;
    background-color: hsl(198, 54%, 76%);
  }
  .calu {
    width: 100%;
    height: 565px;
    margin-top: 5vw;
  }
  .calu button {
    margin-top: 0px;
    background-color: hsl(198, 54%, 76%);
  }
  .projects i {
    font-size: 120px;
    margin-left: 33%;
    margin-top: 2vw;
  }
  .contact {
    background-color: #f0f4ff;
  }
  .home {
    background-color: #f6e7cc;
  }
  .home img {
    border: 2px solid #000000;
  }
 .resume {
    width: 35vw;
    height:40px;
    margin-top: 3vw;
    flex-direction: column;
    align-items: center;
  }

  .resume button {
    width: 100%;
    height: 10vw;
   padding-bottom: 14px;
    font-size: 4vw;
  }
}
